*~
*.old
*.bak

**/__pycache__
*.pyc
*.ipynb*

# IDE
.vscode

# data dirs
db
*.db
data
!tests/data

# env
.venv

# chaches
__pycache__
.ipynb_checkpoints
.ruff_cache
.mypy_cache
.pytest_cache
.pdm-build
